{% extends 'base.html' %}

{% block content %}
<h1>All Announcements</h1>

{% if announcements %}
    {% for announcement in announcements %}
    <div>
        <h3><a href="{% url 'announcement_detail' announcement.pk %}">{{ announcement.title }}</a></h3>
        <p>Posted: {{ announcement.created_at|date:"M d, Y g:i A" }}</p>
        <p>{{ announcement.content|truncatewords:30 }}</p>
        <hr>
    </div>
    {% endfor %}
{% else %}
    <p>No announcements found.</p>
{% endif %}
{% endblock %}